.container{
  width: 600px;
  margin: auto;
  border: 1px solid red;
  /* overflow: auto; */
}
img{
  float: left;
  margin: 5px;
  /* overflow: auto; */
  /* clear: left; */
}
.clear{
  clear: left;
}
.wadah{
  width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid red;
}
.kotak{
  width: 80px;
  height: 80px;
  background-color: green;
  color: wheat;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  margin: 2px;
  float: left;
}
.wadah2{
  width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 5px;
  border: 2px solid red;
}
.kiri{
  width: 150px;
  height: 300px;
  background-color: violet;
  float: left;
}
.tengah{
  width: 350px;
  height: 300px;
  background-color: yellow;
  float: left;
}
.kanan{
  width: 100px;
  height: 300px;
  background-color: tomato;
  float: left;
}

/* teknik membersihkan float dengan micro clearfix */
/* tinggal tambhahkan kelas cf paada elemen yang akan dibersihkan */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
  *zoom: 1;
}
/* end teknik */